services:
    web:
        container_name: portfolio
        env_file:
            - .env
        build:
            context: ..
            dockerfile: docker/Dockerfile
        networks:
            - default
            - caddy
        restart: unless-stopped
        depends_on:
            - mysql

    mysql:
        env_file:
            - .env
        image: mysql
        restart: unless-stopped
        networks:
            - default
        volumes:
            - ./data:/var/lib/mysql

networks:
    default:
    caddy:
        external: true
