name: deploy to prod

on:
  push:
    branches:
      - master

jobs:
  build:
    environment: prod
    runs-on: "ubuntu-20.04"
    steps:
      - name: push-to-ghcr
        # You may pin to the exact commit or the version.
        # uses: macbre/push-to-ghcr@91a23f5ca90410345e37d8252ae43b0b89942c6f
        uses: macbre/push-to-ghcr@v14
        with:
          # Your secrets.GITHUB_TOKEN
          github_token: ${{ secrets.PAT }}
          # Image name, e.g. my-user-name/my-repo (will be lowercased)
          image_name: msuchail/portfolio
          # A path to the Dockerfile (if it's not in the repository's root directory)
          dockerfile: ./docker/Dockerfile
              # A path to the context in which the build will happen, see https://docs.docker.com/engine/reference/commandline/build/
          context: .
