name: deploy to prod
env:
  CONTAINER_NAME: portfolio
on:
  push:
    branches:
      - master

jobs:
  deploy:
    environment: prod
    runs-on: ubuntu-latest
    steps:
      - name: SSH-Compose
        # You may pin to the exact commit or the version.
        # uses: matiasnu/github-action-ssh-docker-compose@7fb3aa789f898b63c3722e6beb2dafa1a70f0e22
        uses: masterjanic/docker-compose-ssh-deployment@v1.2
        with:
          # Private SSH key used for logging into remote system.
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          # Remote host name.
          ssh_host: ${{ secrets.SSH_HOST }}
          # Remote SSH port.
          # ssh_port: # default is 22
          # Remote user name.
          ssh_user: ${{ secrets.SSH_USER }}
          # Prefix for docker compose containers.
          docker_compose_prefix: portfolio
          # Docker compose file to use
          docker_compose_filename: './docker/docker-compose.yml'
          # Use docker stack instead of docker compose ("true" or "false").
          # use_stack: # optional, default is false
          # Execute docker compose-down ("true" or "false").
          docker_compose_down: true
          
